
.menu-lateral {
    position: fixed;
    top: 55%;
    left:15px; /* 2cm da borda esquerda */
    transform: translateY(-50%);
    background-color: #D4C9BE;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #123458;
    display: flex;
    flex-direction: column; /* links em coluna */
    align-items: center;     /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    gap: 25px;
    height: 65vh;            /* Altura de 65% da tela */
    width: 80x;
}

.menu-lateral a {
    display: flex;
    flex-direction: column;  /* ícone em cima, texto embaixo (se quiser lado a lado, troque para "row") */
    align-items: center;
    gap: 3px;
    padding: 15px;
    background-color: #f1efec8e;
    color: #123458;
    text-decoration: none;
    border-radius: 10px;
    width: 50%;
    text-align: center;
}

.menu-lateral a:hover {
    background-color: #F1EFEC;
}

.menu-lateral img.icone {
    width: 40px;
    height: 40px;
}